/mihabitat-comunes/mihabitat-comunes.iml
/mihabitat-condominios/mihabitat-condominios.iml
/mihabitat-contabilidad/mihabitat-contabilidad.iml
/mihabitat-instalaciones/mihabitat-instalaciones.iml
/mihabitat-web/mihabitat-web.iml
/mihabitat-pom.iml
/.settings/
/target/
/logs/
.classpath
.project
.idea
.iml
/mihabitat-web/hs_err_pid12580.log
/mihabitat-web/hs_err_pid1400.log
/mihabitat-web/hs_err_pid7412.log
hs_err_pid4896.log
status.txt

.DS_Store
.DS_Store?
.iml
mihabitat-test-dataset/target
mihabitat-test-dataset/target/*

*MANIFEST.MF
/bin/
